body {
    font-family: 'Roboto', sans-serif;
    background: black;
}

:root{
    --color-747be2 : #737be2;
    --color-d3d3e8 : #2525be;
    --color-c0c0ef : #0b0b6f;
}
.stylehead{
  color: rgb(71, 138, 255);
}

  #menu {
    z-index: 10;
  }
  
  #menu-bar {
    width: 4vh;
    height: 40px;
    margin-left: 60px;
    cursor: pointer;
    @media screen and (max-width:991px) {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
  
  .bar {
    height: 0.7vw;
    width: 3vw;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "Platypi", serif;
  }
  
  .nav li a:hover {
    color: gray;
    text-decoration: underline;
  }
  
  .menu-bg {
    top: 0;
    left: 0;
    position: absolute;
  }
  #menu{
    position: absolute;
    z-index: 50;
  }
  
  .menu-bg {
    z-index: 40;
    width: 0;
    height: 0;
    background: radial-gradient(circle, #2f287fbe, #0b0364e1);
    border-radius: 40%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 510px;
    height: 750px;
    transform: translate(-60%,-30%);
  }

button{
    background-color:var(--color-c0c0ef);
    padding-top: 5px;
    border: 3px solid var(--color-d3d3e8);
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 5px;
    font-size: 1.5vw;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
button:hover{
    box-shadow: none;
    background-color:var(--color-d3d3e8);
}
.slippage{
    background-color: var(--color-d3d3e8);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.dropdown{
    height: 100%;
    background-color: var(--color-d3d3e8);
    border: 0px;
}

/* landing page */
.landingImage{
  @media screen and (max-width:991px){
    display: none;
  }
}
.stockImage{
  width: 30vw;
  @media screen and (max-width:991px){
    width: 70vw;
  }
}

header{
  padding-top: 3vw;
}

.logo{
  font-size: 6vw;
  top: 6vh;
  padding-right: 3vw;
  bottom: 5vh;
  z-index: 10;
}

.websitename{
    font-size: 4vw;
    top: 5vh;
    bottom: 5vh;
    padding-left: 5vw;
    font-family: "Platypi", serif;
}
.headline1{
    font-size: 4vw;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    @media screen and (max-width:991px) {
      font-size: 7vw;
      padding-top: 60px;
    }
}
.headline2{
    font-size: 3.5vw;
    font-family: "Playfair Display", serif;
    @media screen and (max-width:991px) {
      font-size: 6vw;
      padding-bottom: 50px;
    }
}
.headline3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  font-family: "Playfair Display", serif;
  margin-top: 10vw;
  color: rgb(130, 130, 130);
  @media screen and (max-width:991px) {
    font-size: 6vw;
  }
}
.headline4{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  font-family: "Playfair Display", serif;
  margin-top: 5vw;
  color: rgb(130, 130, 130);
  @media screen and (max-width:991px) {
    font-size: 6vw;
  }
}
.mainheadline{
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divider{
  border: 2px solid white;
  margin-top: 10vw;
}
.mainheadlinebuttons{
  padding-top: 9vw;
  padding-right: 10vw;
  padding-left: 5vw;
}

/* cards for getting started */

.container-getting-started {
  width: 1500px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card-getting-started {
  max-width: 700px;
  border: 0;
  width: 100%;
  margin-inline: auto;
  border-radius: 45px;
  box-shadow: rgba(115, 59, 193, 0.5) 0px 7px 29px 0px;
}
.card-getting-started:hover {
  transform: translateY(-5px);
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}


.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
  font-family: "Playfair Display", serif;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}



/* cards for landing page */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 3vw;
  box-sizing: border-box;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(115, 59, 193, 0.5) 0px 7px 29px 0px;
  transition: transform 0.3s ease;
}

.cardImage{
  margin: auto;
  padding-top: 1vw;
}

.card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  font-size: 2vw;
  color: #d1d1d1;
  font-family: "Rubik", sans-serif;
}

.card:hover {
  transform: translateY(-5px);
}

/* Tradeview */
.tradeview{
  margin-top: 5vw;
}
.tradeview h1{
  font-size: 8vw;
  color: rgba(255, 255, 255, 0.119);
  z-index: 30;
}
/* climbing */
.climbing{
  margin-top: 10vw;
  color: white;
}
.climbing img{
  border-radius: 50px;
}
.climbing h1{
  font-size: 3vw;
  font-family: "Rubik", sans-serif;
}
.climbing h2{
  font-size: 5vw;
  font-family: "Rubik", sans-serif;
}

/* footer */
.footersection{
  background: radial-gradient(circle, rgba(34, 85, 195, 0.77) 0%, rgba(101,113,189,0) 71%, rgba(45,253,163,0) 100%);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom:2vw ;

}
.footer{
  padding-left: 5vw;
  padding-right: 5vw;
  background-color:rgba(255, 255, 255, 0.133) ;
  border-radius: 20px;
}
.footer-logo{
  font-size: 5vh;
}
.mainfooter{
  flex:wrap;
}
.footer-content1{
  display: flex;
  padding-top: 20px;
  align-items: start;
  gap: 3px;
}

.footer-content2{
  padding-top: 20px;
  margin-bottom: 2vw;
}

.footer-font-1{
  color: gray;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}
.footer-font-2{
  font-size: 14px;
  color: rgb(203, 203, 203);
  font-family: "Rubik", sans-serif;
}

/* Input css */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#384def);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
.input1{
  border:0px;
  width: 100%;
  border: 3px solid #c0c7ef;
  padding-top:8px ;
  padding-bottom:8px ;
  padding-left: 10px;
  border-radius: 10px;
}
.input1[type=text]{
  background-color: #d5d3e8;
}

/* high , low, pclose, vwap, open */

.headlines{
  font-size: 4vw;
  z-index: 30;
  @media screen and (max-width:991px) {
    font-size: 7vw;
  }
}

/* About Page */
.about-text{
  font-family: "Platypi", serif;
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 91vh;
  font-family: "Platypi", serif;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 100%;
  height: auto;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: black;
  box-shadow: rgba(115, 59, 193, 0.5) 0px 7px 29px 0px;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* Contact page */
.contact-text{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.contact-detail{
  padding-left: 20px;
  border-radius: 10px;
}
.contact-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  @media screen and (max-width: 1300px) {
    grid-template-columns: 100%;
    width: 95%;
    gap:0px;
  }
}
/* rgba(25, 68, 142, 0.523) */

/* Documentation */
.docsImage{
  box-shadow: rgba(115, 59, 193, 0.5) 0px 21px 50px 0px;
}
.docsDivider{
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  margin-left: 2.8%;
  margin-right: 2.8%;
}